# Use this file to map ports and other configurations to your services for local development.
version: '3'
services:
    marketplace.skeleton:
        ports:
            - '${APP_PORT:-80}:80'
    pgsql:
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
    redis:
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
